@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --color-primary: #c1fffe;
  --color-primary-container: #00ffff;
  --color-on-primary: #006767;
  --color-on-primary-container: #005d5d;
  
  --color-tertiary: #ff6e81;
  --color-tertiary-container: #ff0355;
  --color-on-tertiary: #490012;
  --color-on-tertiary-container: #000000;
  
  --color-background: #0e0e0e;
  --color-on-background: #ffffff;
  
  --color-surface: #0e0e0e;
  --color-on-surface: #ffffff;
  --color-surface-variant: #262626;
  --color-on-surface-variant: #adaaaa;
  
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1919;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;
  
  --color-outline: #777575;
  --color-outline-variant: #494847;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Space Grotesk", sans-serif;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .neon-border-cyan {
    border-top: 1px solid rgba(0, 255, 255, 0.3);
    border-left: 1px solid rgba(0, 255, 255, 0.3);
  }

  .poison-grid {
    background-image: radial-gradient(circle at 50% 50%, #1a1a1a 0%, #000000 100%);
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-body);
}
